* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0F1E1B;
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
    justify-self: center;
    margin: 0 25px;
    height: 15px;
}
.logo {
    height: 100px;
}