* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}



footer {
    background-color: #002855;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
