*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header {
    background-image: url(img/fundo.png);
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: center;
}
.logo{
    height: 60px;
    width: 60px;
    margin-right: 900px;
}