*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    color: white;
    justify-content: space-between;
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

header {
    background-image: url(img/fundo.png);
    background-repeat: no-repeat; 
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 740px;
    justify-content: center;
    
}
.logo{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu {
    margin-top: 20px;
   
}

.ef {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.ef::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:white;
    transition: width 0.3s ease-in-out;
    border-radius: 2px;
}
.ef:hover::after {
    width: 100%;
}


.textos {
    margin-top: 900px;

}
 footer {
    background-color:rgb(103, 12, 91) ;
    color: white;
    height: 280px;
 }

.tituloFooter {
    color: white;
    margin-left: 10px;
    padding-top: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
} 
.icon{
    height: 40px;
}
.iconIg {
    height: 53px;
}

.iconFace {
    height: 35px;
}
.efF {
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.efF:hover {
    font-weight: bolder;
    transition: 0.3s ease-in-out;
}

.menu1footer, .partedois{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}
.menuFooter {
    display: flex;
    flex-direction: row;
}

nav.menuFooter {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.partedois {
    padding-top: 45px;
}

.logoFinal {
    height: 50px;
}

.nome {
    display: flex;
    flex-direction: row;
}

.logoFinal {
    margin-top: 40px;
    margin-left: 30px;
}